<div class="icons-container" *ngIf="targetId && targetStatus && targetItem">
    <img class="icon" src="../../../../assets/new.png" alt="moveTonew" (click)="moveToNew()">
    <img class="icon" src="../../../../assets/in-progress.png" alt="moveToInProgress" (click)="moveToInProgress()">
    <img class="icon" src="../../../../assets/done.png" alt="moveToDone" (click)="moveToDone()">
    <img class="icon" src="../../../../assets/bin.png" alt="delete" (click)="deleteTask(targetId,targetStatus)">
</div>