<div class="board-lists-frame">
  <div class="board-lists-inner-frame">
    <h1>DASHBOARD</h1>
    <div class="inputAndButton">
      <input type="text" class="searchInput" />
      <button class="newTask" (click)="openModalOnAddTask()">+ New Task</button>
    </div>

    <app-modal *ngIf="isModalServiceVisible()" [editTask]="task"></app-modal>

    <div class="board-lists">
      <app-list-container
        [title]="newStatusEnum"
        *ngIf="newTasks$ | async as newTasks"
        cdkDropList
        id="new"
        [cdkDropListData]="newTasks"
        [cdkDropListConnectedTo]="['inProgress', 'done']"
        (cdkDropListDropped)="drop($event)"
      >
        <app-list-item
          *ngFor="let taskItem of newTasks"
          [taskItem]="taskItem"
          (moveTaskToDashboard)="receiveTaskInDashboard($event)"
          cdkDrag
        ></app-list-item>
      </app-list-container>

      <app-list-container
        [title]="inProgressStatusEnum"
        *ngIf="inProgressTasks$ | async as inProgressTasks"
        cdkDropList
        id="inProgress"
        [cdkDropListData]="inProgressTasks"
        [cdkDropListConnectedTo]="['new', 'done']"
        (cdkDropListDropped)="drop($event)"
      >
        <app-list-item
          *ngFor="let taskItem of inProgressTasks"
          [taskItem]="taskItem"
          (moveTaskToDashboard)="receiveTaskInDashboard($event)"
          cdkDrag
        ></app-list-item>
      </app-list-container>

      <app-list-container
        [title]="doneStatusEnum"
        *ngIf="doneTasks$ | async as doneTasks"
        cdkDropList
        id="done"
        [cdkDropListData]="doneTasks"
        [cdkDropListConnectedTo]="['new', 'inProgress']"
        (cdkDropListDropped)="drop($event)"
      >
        <app-list-item
          *ngFor="let taskItem of doneTasks"
          [taskItem]="taskItem"
          (moveTaskToDashboard)="receiveTaskInDashboard($event)"
          cdkDrag
        ></app-list-item>
      </app-list-container>
    </div>
  </div>
</div>
