<div class="board-lists-frame">
    <h1>DASHBOARD</h1>
    <div class="inputAndButton">
        <input type="text" class="searchInput">
        <button class="newTask" (click)="showModal()">+ New Task</button>
    </div>

    <app-modal *ngIf="isModalServiceVisible()"></app-modal>
    <div class="board-lists">
        <app-list-container>
            <app-list-item [taskItems]="newTasks"></app-list-item>
        </app-list-container>
        <app-list-container>
            <app-list-item [taskItems]="inProgressTasks"></app-list-item>
        </app-list-container>
        <app-list-container>
            <app-list-item [taskItems]="doneTasks"></app-list-item>
        </app-list-container>
    </div>
</div>