<div class="board-lists-frame">
  <div class="board-lists-inner-frame">
    <h1>DASHBOARD</h1>
    <div class="inputAndButton">
      <input type="text" class="searchInput" />
      <button class="newTask" (click)="openModalOnAddTask()">+ New Task</button>
    </div>

    <app-modal *ngIf="isModalServiceVisible()" [editTask]="task"></app-modal>

    <div class="board-lists">
      <app-list-container
        [title]="newStatusEnum"
        (drop)="onDrop($event, newStatusEnum)"
        (dragover)="onDragOver($event)"
      >
        <app-list-item
          [taskItems]="newTasks$ | async"
          (moveTaskToDashboard)="receiveTaskInDashboard($event)"
        ></app-list-item>
      </app-list-container>

      <app-list-container
        [title]="inProgressStatusEnum"
        (drop)="onDrop($event, inProgressStatusEnum)"
        (dragover)="onDragOver($event)"
      >
        <app-list-item
          [taskItems]="inProgressTasks$ | async"
          (moveTaskToDashboard)="receiveTaskInDashboard($event)"
        ></app-list-item>
      </app-list-container>

      <app-list-container
        [title]="doneStatusEnum"
        (drop)="onDrop($event, doneStatusEnum)"
        (dragover)="onDragOver($event)"
      >
        <app-list-item
          [taskItems]="doneTasks$ | async"
          (moveTaskToDashboard)="receiveTaskInDashboard($event)"
        ></app-list-item>
      </app-list-container>
    </div>
  </div>
</div>
