<div class="backdrop" (click)="closeModal()">
  <img
    *ngIf="editModeisOn"
    class="icon"
    [src]="getIconSource(taskToEdit, 'Left')"
    alt="icon"
    (click)="previousTask($event)"
  />

  <div class="modal" (click)="onModalClick($event)">
    <h2
      class="list-title"
      [ngClass]="{
        redTitleBackground: taskToEdit.status === newStatusEnum,
        yellowTitleBackground: taskToEdit.status === inProgressStatusEnum,
        greenTitleBackground: taskToEdit.status === doneStatusEnum,
        blueTitleBackground: !editModeisOn
      }"
    >
      {{ editModeisOn ? "Edit Task" : "Add Task" }}
    </h2>

    <div [formGroup]="modalForm" class="title-input">
      <input
        class="textInp"
        [ngClass]="
          modalForm.get('name')?.value.length > maxNumOfCharacters
            ? 'error'
            : ''
        "
        type="text"
        placeholder="Enter task name"
        formControlName="name"
      />
      <span class="char-control">
        {{ maxNumOfCharacters - modalForm.get("name")?.value.length }}
      </span>
      <input
        class="textInp"
        type="text"
        placeholder="Enter the description"
        formControlName="description"
      />
      <div class="priorityForm">
        <p>Priorities:</p>
        <label *ngFor="let priority of priorities" class="prioritiesLabel">
          <input
            name="priority"
            type="radio"
            formControlName="priority"
            [value]="priority"
            class="prioritiesInput"
          />
          {{ priority }}
        </label>
      </div>
      <div class="priorityForm">
        <p>status:</p>
        <label *ngFor="let status of statuses" class="prioritiesLabel">
          <input
            name="status"
            type="radio"
            formControlName="status"
            [value]="status"
            class="prioritiesInput"
          />
          {{ status | titlecase }}
        </label>
      </div>
      <input type="file" (change)="onFileSelected($event)" accept=".jpg,.png" />
      <!-- Show image immediately -->
      <div *ngIf="imageSrc">
        <img [src]="imageSrc" alt="Base64 Image" class="attachedImg" />
      </div>

      <!-- Show existing images in edit mode -->

      <div *ngFor="let image of modalForm.get('image')?.value">
        <ng-container *ngIf="image">
          <img [src]="image" alt="Base64 Image" class="attachedImg" />
        </ng-container>
      </div>

      <div class="modal-buttons">
        <button class="modalBtn" *ngIf="!editModeisOn" (click)="addTask()">
          {{ "Add Task" }}
        </button>
        <button
          class="modalBtn"
          *ngIf="editModeisOn"
          (click)="updateTask()"
          [disabled]="!modalForm.valid"
        >
          {{ "Save changes" }}
        </button>
        <button class="modalBtn" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
  <img
    *ngIf="editModeisOn"
    class="icon"
    [src]="getIconSource(taskToEdit, 'Right')"
    alt="icon"
    (click)="nextTask($event)"
  />
</div>
