<div class="backdrop" (click)="closeModal()">
  <img
    *ngIf="editModeisOn"
    class="icon"
    [src]="getIconSource(taskToEdit, 'Left')"
    alt="icon"
    (click)="nextTask($event)"
  />

  <div class="modal" (click)="onModalClick($event)">
    <h2
      class="list-title"
      [ngClass]="{
        redTitleBackground: taskToEdit.status === newStatusEnum,
        yellowTitleBackground: taskToEdit.status === inProgressStatusEnum,
        greenTitleBackground: taskToEdit.status === doneStatusEnum,
        blueTitleBackground: !editModeisOn
      }"
    >
      {{ editModeisOn ? "Edit Task" : "Add Task" }}
    </h2>

    <div [formGroup]="modalForm" class="title-input">
      <input
        [ngClass]="nameControl.value.length > maxNumOfCharacters ? 'error' : ''"
        type="text"
        placeholder="Enter task name"
        [formControl]="nameControl"
      />
      <span class="char-control">
        {{ maxNumOfCharacters - nameControl.value.length }}
      </span>
      <input
        type="text"
        placeholder="Enter the description"
        [formControl]="descriptionControl"
      />
      <div class="priorityForm">
        <p>Priorities:</p>
        <label *ngFor="let priority of priorities" class="prioritiesLabel">
          <input
            name="priority"
            type="radio"
            [formControl]="priorityControl"
            [value]="priority"
            class="prioritiesInput"
          />
          {{ priority }}
        </label>
      </div>
      <div class="priorityForm">
        <p>status:</p>
        <label *ngFor="let status of statuses" class="prioritiesLabel">
          <input
            name="status"
            type="radio"
            [formControl]="statusControl"
            [value]="status"
            class="prioritiesInput"
          />
          {{ status }}
        </label>
      </div>
      <div class="modal-buttons">
        <button *ngIf="!editModeisOn" (click)="addTask()">
          {{ "Add Task" }}
        </button>
        <button
          *ngIf="editModeisOn"
          (click)="updateTask()"
          [disabled]="!modalForm.valid"
        >
          {{ "Save changes" }}
        </button>
        <button (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
  <img
    *ngIf="editModeisOn"
    class="icon"
    [src]="getIconSource(taskToEdit, 'Right')"
    alt="icon"
    (click)="previousTask($event)"
  />
</div>
