.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 600px;
  border-radius: 12px;
}

h2 {
  margin-top: 0;
  color: #fff;
}

.textInp {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  padding-right: 50px;
  box-sizing: border-box;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.priorityForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.prioritiesLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.prioritiesInput {
  margin: 0;
}
.title-input {
  position: relative;
}
.char-control {
  position: absolute;
  right: 30px;
  top: 10px;
}
.error {
  border: 2px solid red;
}
input.error + .char-control {
  color: red;
}
.icon {
  width: 60px;
  margin: 20px;
}
.attachedImg {
  max-width: 500px;
}

input[type="file"] {
  width: 100%;
  margin: 15px 0px;
}
input[type="file"]::-webkit-file-upload-button,
.modalBtn {
  width: 100%;
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
}
.modalBtn {
  background: #0073ea;
  color: #fff;
}
input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::-webkit-file-upload-button:focus {
  background-color: #f082ac;
}
.modalBtn:hover,
.modalBtn:focus {
  background-color: #579be3;
}
