<div class="card-container" draggable="true" cdkDrag>
  <div class="card">
    <div class="card-content-container">
      <div class="card-content">
        <p
          class="taskTitle"
          [class.ellipsis-title]="ellipsis"
          [class.showAllText]="!ellipsis"
          (click)="toggleEllipsisClass()"
        >
          {{ taskItem.title }}
        </p>
        <p
          [class.ellipsis-descriprion]="ellipsis"
          [class.showAllText]="!ellipsis"
          (click)="toggleEllipsisClass()"
        >
          {{ taskItem.description }}
        </p>
        <p>Priority - {{ taskItem.priority }}</p>
      </div>
      <img
        class="icon edit"
        src="assets/edit.svg"
        alt="icon"
        (click)="editTask(taskItem)"
      />
    </div>
  </div>
  <div
    class="icons-container"
    *ngIf="taskItem && taskItem.id && taskItem.status"
  >
    <img
      class="icon"
      src="assets/new.png"
      alt="icon"
      (click)="changeTaskStatus(taskItem, newStatusEnum)"
      [ngClass]="{ 'display-none': taskItem.status === newStatusEnum }"
    />

    <img
      class="icon"
      src="assets/in-progress.png"
      alt="icon"
      (click)="changeTaskStatus(taskItem, inProgressStatusEnum)"
      [ngClass]="{ 'display-none': taskItem.status === inProgressStatusEnum }"
    />

    <img
      class="icon"
      src="assets/done.svg"
      alt="icon"
      (click)="changeTaskStatus(taskItem, doneStatusEnum)"
      [ngClass]="{ 'display-none': taskItem.status === doneStatusEnum }"
    />

    <img
      class="icon"
      src="assets/bin.svg"
      alt="icon"
      (click)="deleteTask(taskItem.id)"
    />
  </div>
</div>
