<div
  class="card-wrapper"
  *ngFor="let taskItem of taskItems"
  draggable="true"
  (dragstart)="onDragStart($event, taskItem.id)"
>
  <div class="card">
    <div class="card-content">
      <p>{{ taskItem.title }}</p>
      <img
        class="icon edit"
        src="assets/edit.svg"
        alt="icon"
        (click)="onEdit($event)"
      />
    </div>
  </div>
  <div
    class="icons-container"
    *ngIf="taskItem && taskItem.id && taskItem.status"
  >
    <img
      class="icon"
      src="assets/new.png"
      alt="icon"
      (click)="changeTaskStatus(taskItem, newStatusEnum)"
      [ngClass]="{ 'display-none': taskItem.status === newStatusEnum }"
    />

    <img
      class="icon"
      src="assets/in-progress.png"
      alt="icon"
      (click)="changeTaskStatus(taskItem, inProgressStatusEnum)"
      [ngClass]="{ 'display-none': taskItem.status === inProgressStatusEnum }"
    />

    <img
      class="icon"
      src="assets/done.png"
      alt="icon"
      (click)="changeTaskStatus(taskItem, doneStatusEnum)"
      [ngClass]="{ 'display-none': taskItem.status === doneStatusEnum }"
    />

    <img
      class="icon"
      src="assets/bin.png"
      alt="icon"
      (click)="deleteTask(taskItem.id)"
    />
  </div>
</div>
