.board-list {
    background: rgba(60, 134, 244, 0.15);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
    color: #0053CF;
}

.list-title {
    font-weight: bold;
}

.add-card {
    padding-top: 10px;
    padding-bottom: 5px;
}