.board-list {
  max-width: 350px;
  max-height: 64vh;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  overflow-y: auto;
  border: 1px solid #f3dfe3;
  color: #27374d;
}


.add-card {
  padding-top: 10px;
  padding-bottom: 5px;
}
